// .root {
//   color: #1877F2;
//   background-color: #ffffff;

//   font-synthesis: none;
//   text-rendering: optimizeLegibility;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   -webkit-text-size-adjust: 100%;
// }

// body {
//   /* font-family: Inter; */
//   font-family: Arial, sans-serif;
//   margin: 0;
//   width: 100vw;
//   height: 100vh;
// }

.root {
  color: #1877F2;
  background-color: #ffffff;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Ensure no horizontal scrolling */
  overflow-x: hidden;
  box-sizing: border-box;
}

